@import "../../global.scss";

.header{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColour;
    position:fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper{
       padding: 10px 30px;
       display: flex;
        align-items: center;
        justify-content: space-between;
    .left{
        padding: 100px -90px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    .logo{
       font-size: 40px;
       font-weight: 700;
       text-decoration: none;
       color: inherit;
       margin-right: 40px;
    }
      .itemContainer{
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-left: 50px;   
        gap: 20px;
       
       
       h4{
        font-size: 15px;
       }
    }
    
    }
    .right{

        .hamburgur{
            width: 30px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;

            span{
                size: 10px;
                width: 100%;
                height: 3px;
                background-color: $mainColour;
                transform-origin: length;
                transition: all 2s ease;
            }
        }
    }
}
&.active{
    background-color: $mainColour;
    color: white;

    .hamburgur{
        width: 10px;
        span{
            &:first-child{
                size: 20px;
                background-color: white;
               transform: rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;

            }
            &:last-child{
                background-color: white;
                transform: rotate(-45deg);
            }
        }
    }
}
}
